.search {
    /* text-align: center; */
    padding: 5px 20px 5px 5px;
    border-radius: 20px;
    border: 1px solid orangered;
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;

    input {
        outline: none;
        border: none;
    }

    button {
        border: none;
        color: orangered;
        background-color: transparent;
        cursor: pointer;
    }
}