.card-box {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .card {
        width: 18%;
        padding: 10px;
        margin-bottom: 20px;

        img {
            height: 300px;
            width: 100%;
            border-radius: 20px;
        }

        .brand {
            padding: 5px;
        }

        .title {
            display: flex;
            justify-content: space-between;
            padding: 10px 5px;

            .rating {
                background-color: green;
                color: white;
                padding: 0 5px;
                border-radius: 5px;
            }
        }
    }

}

.card-box :hover {
    background-color: black;
    border-radius: 20px;

    .title {
        color: white;
    }

    .brand {
        color: white;
        background-color: red;
        border-radius: 20px;
    }
}